<template name="allProjects">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title"><strong>Projects</strong></span>
      <a href="/add-project" class="btn btn-xs btn-success pull-right">Add Project</a>
    </div>
    <div class="panel-body">
    	<ul class="list-group">
		    <div class="clearboth"></div>
		    {{#each allProjects}}
		      {{> project}}
		    {{else}}
			    Looks like there aren't any projects yet, create one <a href="/add-project">here</a>
		    {{/each}}
		  </ul>
  	</div>
  </div>
</template>